
<!DOCTYPE html>

 

<html>

    <head>
        <title>About us</title>
    </head>

    <body>
        <h1>All About US!</h1>
        
        <a href="/rango/">Home</a>        <a href="/rango/contact_us/">Contact</a>		<a href="/rango/gallery/">Gallery</a><br />
        <br />
        <br />
        <strong>This is a dumb Rango meme.</strong><br />
        <img src="/media/rango_meme.jpg" alt="Picture of Rango" /><br />
        <strong>This is a much better meme.</strong><br />
        <img src="/media/find_meme.jpg" alt="Find meme" /> 
    </body>

</html>