	<ul class="nav nav-list">
	   {% if cat_list %}
		{% for cat in cat_list %}
		  <li><a href="/rango/category/{{ cat.url }}">{{ cat.name }}</a></li>
		{% endfor %}
	   	{% else %}
		<li>No categories at here.</li>
	   {% endif %}
	   
	     {% csrf_token %}
           

        {% if result_list %}
        <!-- Display search results in an ordered list -->
        <div style="clear: both;">
            <ol>
            {% for result in result_list %}
                <li>
                    <strong><a href="{{ result.link }}">{{ result.title }}</a></strong><br />
                    <em>{{ result.summary }}</em>
                </li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}
	</ul>