{% extends 'rango/base.html' %}

{% load static %}

{% block title %}The Gallery{% endblock %}

{% block body_block %}
<div class="hero-unit">
		<h1>The Gallery</h1>
        <h2>Isn't Spencer Totes Adorb?</h2>
        Stop it Spencer.  Just Stop it!<br />
        <img src="/media/sandwich.jpg" alt="Picture of Sandwich" /> 
        <img src="/media/snooze.jpg" alt="Picture of Snooze" /> 
        <img src="/media/yawn.jpg" alt="Picture of Yawn" /> 
        <img src="{% static "face.jpg" %}" alt="Picture of Spencer up close" /> 
        <img src="{% static "ill.jpg" %}" alt="Picture of ill cat" />
    </body>

</html>
{% endblock %}